name: Compile and Push

on:
  push:
    branches:
      - main # 你也可以根据需要改成任何你想监控的分支

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: 检出代码
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: 设置 Node.js 版本
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18" # 可根据需要选择 Node.js 版本

      # Step 3: 安装依赖
      - name: Install dependencies
        run: |
          corepack enable
          echo y | yarn

      # Step 4: 运行 lint
      - name: Run lint
        run: npm run lint

      # Step 5: 运行 format
      - name: Run format
        run: npm run format

      # Step 6: 编译代码
      - name: Compile TypeScript
        run: npm run build

      - name: Copy package.json from root
        run: cp ./package.json dist/

      - name: Copy yarn.lock to dist
        run: cp ./yarn.lock dist/

      - name: Copy node_modules to dist
        run: cp -r ./node_modules dist/

      - name: Copy .yarn to dist
        run: cp -r ./.yarn dist/

      # Step 8: 复制文件
      - name: Copy files and compress
        run: |
          mkdir -p source
          find dist -mindepth 1 -maxdepth 1 -not -name 'source' -exec cp -r {} source/ \;
          tar -zcf source.tar source

      # Step 9: 上传文件
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: source
          path: source.tar
